<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhaizz.client.mapper.EpisodeMapper">
    <select id="findBySubjectIdOrderBySort" resultType="top.zhaizz.pojo.entity.Episode">
        SELECT * FROM episode WHERE subject_id = #{subjectId} ORDER BY sort
    </select>
</mapper>
