<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhaizz.client.mapper.SubjectMapper">
    <select id="searchByKeyword" resultType="top.zhaizz.pojo.entity.Subject">
        SELECT * FROM subject
        WHERE name LIKE CONCAT('%', #{keyword}, '%') OR name_cn LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY IF(name_cn LIKE CONCAT('%', #{keyword}, '%'), 0, 1), score DESC
    </select>
    <select id="findByAirDateRange" resultType="top.zhaizz.pojo.entity.Subject">
        SELECT * FROM subject WHERE air_date BETWEEN #{startDate} AND #{endDate} ORDER BY air_date
    </select>
    <select id="findSubjectIdsByTag" resultType="java.lang.Long">
        SELECT subject_id FROM subject_tag WHERE name = #{tagName} ORDER BY id
    </select>
    <select id="findByAirDateRangeAndWeekday" resultType="top.zhaizz.pojo.entity.Subject">
        SELECT * FROM subject WHERE air_date BETWEEN #{startDate} AND #{endDate}
        <if test="weekday != null">AND air_weekday = #{weekday}</if>
        ORDER BY air_weekday, score DESC
    </select>
</mapper>
