<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhaizz.client.mapper.SubjectMapper">
    <select id="searchWithFilters" resultType="top.zhaizz.pojo.entity.Subject">
        SELECT s.* FROM subject s
        <if test="tagList != null and tagList.size > 0">
            JOIN subject_tag st ON s.id = st.subject_id AND st.name IN
            <foreach collection="tagList" item="tag" open="(" separator="," close=")">
                #{tag}
            </foreach>
        </if>
        <where>
            <if test="keyword != null and keyword != ''">
                AND (s.name LIKE CONCAT('%', #{keyword}, '%')
                     OR s.name_cn LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="scoreMin != null">
                AND s.score &gt;= #{scoreMin}
            </if>
            <if test="scoreMax != null">
                AND s.score &lt;= #{scoreMax}
            </if>
            <if test="year != null">
                AND s.air_date &gt;= CONCAT(#{year}, '-01-01')
                AND s.air_date &lt;= CONCAT(#{year}, '-12-31')
            </if>
            <if test="weekday != null">
                AND s.air_weekday = #{weekday}
            </if>
        </where>
        <if test="tagList != null and tagList.size > 0">
            GROUP BY s.id
            HAVING COUNT(DISTINCT st.name) = ${tagList.size}
        </if>
        ORDER BY
        <if test="keyword != null and keyword != '' and sortField == 's.score'">
            IF(s.name_cn LIKE CONCAT('%', #{keyword}, '%'), 0, 1),
        </if>
        ${sortField} ${order}
    </select>
    <select id="findSubjectIdsByTag" resultType="java.lang.Long">
        SELECT subject_id FROM subject_tag WHERE name = #{tagName} ORDER BY id
    </select>
    <select id="selectYears" resultType="java.lang.Integer">
        SELECT DISTINCT YEAR(air_date) FROM subject WHERE air_date IS NOT NULL ORDER BY 1 DESC
    </select>
</mapper>
