<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zhaizz.animetracker.subject.mapper.EpisodeMapper">

    <!-- 按条目 ID 查询剧集列表（按 sort 升序） -->
    <select id="findBySubjectIdOrderBySort" resultType="top.zhaizz.animetracker.subject.entity.Episode">
        SELECT *
        FROM episode
        WHERE subject_id = #{subjectId}
        ORDER BY sort
    </select>

</mapper>
